src/main/mule/batchprocessing-database.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="0f09d2ac-2fb5-4732-ba3c-1218c616c109" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Satya" database="ravi" />
	</db:config>
	<file:config name="File_Config" doc:name="File Config" doc:id="a6a88588-a9cf-48dc-9f99-73df4028d232" >
		<file:connection workingDir="C:\Users\DELL\Desktop\json_Files" />
	</file:config>
	<flow name="batchprocessing-databaseFlow" doc:id="9f06fae9-7943-4b0f-92ac-e829787c31df" >
		<file:listener doc:name="On New or Updated File" doc:id="cf2d23a7-e83f-480b-bab3-f8b69d8fda13" config-ref="File_Config" directory="C:\Users\DELL\Desktop\json_Files\input">
			<scheduling-strategy >
				<fixed-frequency frequency="10000"/>
			</scheduling-strategy>
		</file:listener>
		<ee:transform doc:name="Transform Message" doc:id="735ab04d-2107-4ad0-af02-c86d29c65db8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="batchprocessing-databaseBatch_Job" doc:id="cddcbab4-168a-497a-95e7-fff94c0bd797" >
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="002042f1-172b-4cfe-bc45-db325357abe8" >
					<ee:transform doc:name="Transform Message" doc:id="2126aead-393a-4a4c-8626-612db67f8b89" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload ]]></ee:set-payload>
						</ee:message>
					</ee:transform>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="65742e9f-7218-43d7-be99-550787e0bc07" size="200">
						<db:bulk-insert doc:name="Bulk insert" doc:id="76967ae2-7e6b-4f92-a5e8-1f8f6c72a62a" config-ref="Database_Config">
							<db:bulk-input-parameters ><![CDATA[#[[{
	Id: payload.Id,
	Length: payload.Length
}]]]]></db:bulk-input-parameters>
							<db:sql >insert into records(Id,Length)values(:Id,:Length)</db:sql>
						</db:bulk-insert>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="b4e73eb6-a2d2-4e0c-bd01-796910c75762" message="Insert complted"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>
